$font-stack: 'Open Sans', sans-serif; 
$primary-color: #002542;
$secondary-color: rgb(0, 186, 255);

* {
  box-sizing: border-box;
  width: 100%;
}

body {
  margin: auto 0;
  font-family: $font-stack;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

@media (max-width: 639px){
  .navbar_container_desktop {
    display: none;
  }

  .navbar_container_mobile {
    height: 70px;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    .logo {

      width: 50%;

      img {
        width: 78px;
        height: 40px;
      }
    }
    
    .hamburger {
      width: 50%;
      text-align: right;
      color: rgb(255, 255, 255);
      font-size: 2rem;
      cursor: pointer;
    }  
  }

  .dropdown_mobile {
    display: none;
  }

  .collapsed {
    border-top: 0.5px solid $secondary-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: $primary-color;
    

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      text-align: end;
    
     
      li a {
        width: 100%;
        padding: 1.5rem;
        text-decoration: none;
        font-family: $font-stack;
        color: rgb(235, 235, 235);
        font-size: 1.6rem;
        font-weight: 200;
        cursor: pointer;
      }

      a:hover {
        color: $secondary-color;
      }
    }
  }



    
  .banner {
    width: 100vw;
    height: calc(100vh - 70px);
    position: relative;
    text-align: center;
    margin-bottom: 6rem;
  
    .banner_img {
      background-image: url('../../dist/images/banner_img.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 100vh;
      
    }
  
    .banner_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    h1 {
      font-size: 2em;
      color: rgb(255, 255, 255);
      padding: 0rem 1.5rem;
    }
  
    p {
      font-size: 18px;
      font-weight: 300;
      color: rgb(255, 255, 255);
      padding: 1rem;
    }
  
    .button_container {
      width: 100%;
      justify-content: center;
      align-items: center;
  
      .button {
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.2;
      font-family: 'Montserrat', sans-serif;
      border: 1px solid rgb(255, 255, 255);
      text-align: center;
      width: 187px;
      height: 38px;
      padding: 0.5rem 1.8rem;
      cursor: pointer;
      }
  
      .button:hover {
        background-color: $primary-color;
      }
    }
    }
  }

  .services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 3rem 3rem;

    h2 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2rem;
      font-size: 2rem;
      color: $primary-color;
      font-weight: 800;
    }
    
    .services_container {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      .service_item {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        .service_img {
          width: auto;
          height: 100%;
          display: flex;
          justify-content: center;
        }

        h3 {
          text-align: center;
          width: 100%;
          font-size: 25px;
          font-weight: 600;
          color: $primary-color;
          line-height: 1.2;
        }

        p {
          text-align: center;
          width: 100%;
          font-size: 18px;
          color: rgb(24, 24, 24);
          line-height: 1.5;
          margin-top: -0.5rem;
          font-weight: 600;
        }

       
      }
    }

  }

  .latest_news {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-bottom: 2rem;
    background-color: #ebebeb;

  .latest_news_title {
    width: 100%;

    h3 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2rem;
      font-size: 2rem;
      color: $primary-color;
      font-weight: 800;
    }
  }

  .news_container {
    width: 80%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: auto;
  }

  h4 {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }

  .date, .user, p {
    font-size: 14px;
    color: rgb(24, 24, 24);
  }

  .news_left {
    width: 100%;
    height: 530px;
    background-color:  rgb(255, 255, 255);
    margin-bottom: 1rem;
    
    .news_left_text {
      padding: 0.5rem;
      margin-top: -2rem;
    }
    
    .news_left > img {
      width: auto;
      height: 100%;
    }
  }

  .news_right {
    width: 100%;
    height: 530px;
    background-color:  rgb(255, 255, 255);
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // align-items: center;

    .news_top_right, .news_bottom_right {
      width: 100%;
      background-color: rgb(255, 255, 255); 
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 1rem;  

      .news_top_right_img, .news_bottom_right_img {
        width: 100%;
        height: 100%;  
      }

      .news_top_right_text, .news_bottom_right_text {
        width: 100%;
        padding: 0.5rem;
      }    
    } 
  }
}

  .selected_references {
    width: 100%;
    margin-top: 4rem;

    h3 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2rem;
      font-size: 2rem;
      color: $primary-color;
      font-weight: 800; 
    }
  }

  .what_clients_think {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;

    h3 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2rem;
      font-size: 2rem;
      color: $primary-color;
      font-weight: 800;   
    }

    .client {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .client_img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        height: 100%;
        width: auto;
      }

      .client_text {
        width: 100%;
        p {
          font-size: 16px;
          color: $primary-color;
          text-align: center;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }

  .companies {
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .company {
      width: 50%;
    }
  }

  .work_together_bgd_mobile {
    width: 100%;
    background-color: $primary-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .title {
      width: 100%;
      text-align: center; 
      h4 {
        color: rgb(255, 255, 255);
        font-size: 2rem;
      }
      p {
        color: rgb(255, 255, 255);
        font-size: 1rem;
      }
    }

    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        background-color: $secondary-color;
        width: 261px;
        height: 50px;
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 700;
        text-transform: uppercase;
      }

      p:hover {
        color: $secondary-color;
        background-color: rgb(255, 255, 255);
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .footer_item {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: -1rem;
      
    }

    img {
      padding-top: 1rem;
      width: 130px;
    }

    h5 {
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: $secondary-color;
      width: 100%;
      text-align: center;
      margin-bottom: -0.7rem;
    }

    ul {
      list-style-type: none;
      width: 100%;
      text-align: center;
      padding: 0;
    }

    p {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    li {
      font-size: 1rem;
      color: $primary-color;
      text-align: center;
      width: 100%;
      padding: 0.2rem;
      cursor: pointer;
    }

    a{
      text-decoration: none;
      color: $primary-color;
    }

    input {
      width: 213px;
      height: 40px;
      border: 1px solid rgb(235, 235, 235);
    }

    input::placeholder {
      font-family: $font-stack;
      color: rgb(131, 131, 131);
      
    }

    button {
      background-color: $secondary-color;
      color: rgb(255, 255, 255);
      font-family: $font-stack;
      border: none;
      width: 47px;
      height: 40px;
      cursor: pointer;
    }

    button:hover {
      background-color: rgb(255, 255, 255);
      color: $secondary-color; 
      border: 2px solid $secondary-color;
      font-weight: 800;
    }
  }


  
}

@media (min-width: 640px) and (max-width: 1023px){

}

@media (min-width: 1024px){

.navbar_container_desktop {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 122px;

  .logo {
    width: 30%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;

    .top_left_logo {
      width: 80%;
      background-color: $primary-color;
      height: 122px;
      z-index: 1;
      margin-right: -8rem;
    }

    img {
      height: 122px;
      width: 100%;
      z-index: 2;
      padding-left: 2rem;
    }
  }

  .navbar {
    width: 55%;
    margin-left: -2rem;
    
    .telephone_div_wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-top: 1rem;

      .empty-div {
        width: 60%;
      }

      .telephone_content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;

       img {
        cursor: pointer;
       }

       span {
         padding-left: 1rem;
         padding-right: 2rem;
         font-size: 14px;
         color: $primary-color;
       }

      }
    }

    ul {
      display: flex;
      flex-flow: row nowrap;

      li  {
      list-style-type: none;
      padding: 1rem;
      white-space: nowrap;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: bold;
        line-height: 1.2;
        font-size: 15px;
        cursor: pointer;
      }

      a:hover {
        color: $secondary-color;
      }

      a:hover:after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 5px solid;
        margin: 0 auto;
        position: absolute;
        top: 118px;
        width: 86px;
        z-index: 2;
    }
      }
    }
  }

  .top_right {
    min-width: 15%;
    padding-left: 6rem;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;


  .banner_img {
    background-image: url('../../dist/images/banner_img.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
  }

  .banner_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
  }

  p {
    margin-top: -1.5rem;
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding-bottom: 0.8rem;
  }

  .button_container {
    width: 100%;
    justify-content: center;
    align-items: center;

    .button {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    width: 187px;
    height: 38px;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    }

    .button:hover {
      background-color: $primary-color;
    }
  }
  }
}

  .services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 3rem 3rem;

    h2 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 2rem;
      font-size: 2rem;
      color: $primary-color;
      font-weight: 800;
    }
    
    .services_container {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      .service_item {
        width: 33%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        .service_img {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        h3 {
          text-align: center;
          width: 100%;
          font-size: 25px;
          font-weight: 600;
          color: $primary-color;
          line-height: 1.2;
        }

        p {
          text-align: center;
          width: 77%;
          font-size: 14px;
          color: rgb(24, 24, 24);
          line-height: 1.5;
          margin-top: -0.5rem;
          font-weight: 600;
        }

       
      }
    }

  }

    .latest_news {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 0;
      padding-top: 10rem;
      background-color: #ebebeb;

    .latest_news_title {
      width: 100%;

      h3 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
        line-height: 1.2;
        z-index: 1;
      }
    }
  
    .news_container {
      width: 90%;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    h4 {
      font-size: 24px;
      font-weight: 700;
      color: $primary-color;
    }

    .date, .user, p {
      font-size: 14px;
      color: rgb(24, 24, 24);
    }

    .news_left {
      width: 50%;
      height: 530px;
      background-color:  rgb(255, 255, 255);
      margin-right: 0.6rem;
      
      .news_left_text {
        padding: 0.5rem;
        margin-top: -2rem;
      }
      
      .news_left > img {
        width: 100%;
        height: 100%;
      }
    }

    .news_right {
      width: 50%;
      height: calc(530px - 1rem) ;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-left: 0.6rem;

      .news_top_right, .news_bottom_right {
        width: 100%;
        height: 265px;
        background-color: rgb(255, 255, 255); 
        display: flex;
        flex-flow: row nowrap;

        .news_top_right {
          margin-bottom: 2rem;
        }

        .news_top_right_img, .news_bottom_right_img {
          width: 50%;
          height: 265px;  
        }

        .news_top_right_text, .news_bottom_right_text {
          width: 50%;
        }
      }
    
    }

  }

}

















